<div class="modal-body row">
  <!-- Video section -->
  <div class="col-12 col-md-6 mb-4 d-flex align-items-center justify-content-center">
    <iframe
      class="w-100"
      style="aspect-ratio: 16 / 9;"
      src="https://www.youtube.com/embed/zYlnn5qq1XM?autoplay=0&controls=0&modestbranding=1&rel=0"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen>
    </iframe>
  </div>

  <!-- Text section -->
  <div class="col-12 col-md-6 mb-4 d-flex flex-column justify-content-center px-4 text-start">
    <h1 class="mb-3">Flori Bulduș</h1>
    <p>
      Flori Bulduș was born in 1956 in the commune of Mociu, in Cluj County.<br>
      She completed her bachelor's and master's studies at the University of Art and Design in Cluj-Napoca, in the painting department.<br>
      Currently, the artist lives and works in Cluj.
    </p>
  </div>
</div>