<!-- Carousel Column -->
<div class="col-12 col-md-6 d-flex align-items-center justify-content-center mb-4 mb-md-0 carousel-col">
  <div
    id="carouselIndicators"
    class="carousel slide carousel-fade carousel-container w-100"
    data-bs-ride="carousel"
    data-bs-wrap="true"
    data-bs-interval="4000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li
        *ngFor="let image of artworks[0].images; let i = index"
        [attr.data-bs-target]="'#carouselIndicators'"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0">
      </li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let artworkimage of artworks[0].images; let i = index"
        [class.active]="i === 0">
        <img
          class="carousel-img"
          loading="eager"
          [src]="'assets/paintings/' + artworks[0].folder + '/' + artworkimage"
          alt="Artwork"
          (click)="showFullImage('assets/paintings/' + artworks[0].folder + '/' + artworkimage)">
      </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>