<nav class="navbar navbar-expand-md" [class.navbar-hidden]="!navbarVisible" style="padding-right: 3rem;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/home']" [queryParams]="{ scrollTo: 'gallery' }" style="color: white !important">
      Flori Bulduș Art
    </a>

    <!-- Toggler for small screens -->
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item mx-3">
          <a class="nav-link"
            [routerLink]="['/home']"
            [queryParams]="{ scrollTo: 'gallery' }"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="forceScroll('gallery')">
            Gallery
          </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link"
            [routerLink]="['/home']"
            [queryParams]="{ scrollTo: 'about' }"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="forceScroll('about')">
            About
          </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link"
            [routerLink]="['/home']"
            [queryParams]="{ scrollTo: 'contact' }"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: false }"
            (click)="forceScroll('contact')">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="main-content">
  <router-outlet></router-outlet>
</main>