<nav class="navbar" w-100 px-0 [class.navbar-hidden]="!navbarVisible">
  <div class="container-fluid d-flex align-items-center position-relative">

    <!-- Brand on the left (1/3) -->
    <div class="d-flex align-items-center" style="width: 33.3333%;">
      <a class="nav-link" 
        [routerLink]="['/home']" 
        [queryParams]="{ scrollTo: 'gallery' }" 
        style="color: white !important">
        Flori Bulduș Art
      </a>
    </div>

    <!-- Centered navigation links -->
    <ul class="navbar-nav d-flex flex-row position-absolute start-50 top-50 translate-middle">
      <li class="nav-item mx-3">
        <a class="nav-link"
          [routerLink]="['/home']"
          [queryParams]="{ scrollTo: 'gallery' }"
          (click)="forceScroll('gallery')"
          routerLinkActive="active">Gallery</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link"
          [routerLink]="['/home']"
          [queryParams]="{ scrollTo: 'about' }"
          (click)="forceScroll('about')"
          routerLinkActive="active">About</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link"
          [routerLink]="['/home']"
          [queryParams]="{ scrollTo: 'contact' }"
          (click)="forceScroll('contact')"
          routerLinkActive="active">Contact</a> 
      </li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>