<section id="gallerySection" class="content section-wrapper mb-5">
  <div class="container">
    <app-gallery></app-gallery>
  </div>
</section>

<section class="content section-wrapper mb-5">
  <div class="container">
    <h1 class="mb-3 text-center">The World of Symbols</h1>
    <h5 class="text-center">A visual artist who explores the essence of the world through abstract painting.</h5>
    <br>
    <div class="mt-4" style="text-align: left;">
      <h1>Artistic concept</h1>
      <p>
        In her paintings, Flori Bulduș emphasizes the essential aspects of life and experiments with mixed media techniques,
        being in a constant search for the essence of things, beyond their ordinary appearance.
      </p>
      <p>
        Her sources of inspiration stem from life itself, which she observes with an ever-open artistic eye,
        always ready to capture the artistic dimension of every event or everyday occurrence.
      </p>
      <p>
        At the same time, the artist is passionate about philosophical themes such as space and time—
        subjects often explored by painters, poets, and philosophers alike.
      </p>
      <p>
        She brings her own original contribution to these realms of interpretation,
        incorporating in her works symbols of mythological or scientific nature.
      </p>
      <p>
        Some of the recurring symbols in Flori Bulduș’s abstract painting include the Spiral, the Circle,
        Fire, Water, the Pearl, and the Nude—
        all reimagined in an innovative manner,
        evoking with renewed power the feelings and emotions of those who view her art.
      </p>
    </div>
  </div>
</section>

<section id="aboutSection" class="content section-wrapper mb-5">
  <div class="container">
    <app-about></app-about>
  </div>
</section>

<section id="contactSection" class="content section-wrapper mb-5">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>